@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: #efedd6;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  color: #fff;
  width: 400px;
  height: 200px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2), -2px -4px 5px rgba(0, 0, 0, 0.2);
  transform: translateX(400%);
  transition: all 0.6s ease-in-out;
}

.box:nth-child(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

h2 {
  font-size: 45px;
}
